

:root {
  /* background: <fieldset><legend>; */
/*
#ffec64
#ddd
#777
*/}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/*  add-custom-css-styles-to-contact-form
-webkit-appearance: none;
 appearance: none;
   */

   body {
     padding: 20px 15%;
   }

fieldset{   padding:20px, 10px, 20px, 20px;
  margin:20px 10px, 20px, 20px;
}

div[data-title-type="clients"]{
display:flex;
justify-content: flex-start;
flex-direction: column;
flex-flow:wrap;
}
div[data-form-control-type="newclientinput"]{
display: block;
margin-left: 0px;
width: 100%;
box-sizing: border-box;
}
a[data-booking-type="residentialcleaning"],[data-booking-type="commercialcleaning"]{
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
  list-style-type:none;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
a[data-booking-type="residentialcleaning"]:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
a[data-booking-type="residentialcleaning"]:active {
	position:relative;
	top:1px;
}

#container{
	display: flex;
	flex-direction: row
  align-items: flex-start;
	align-content: flex-start;
  width: 100%;
/* 	justify-content:space-between,flex-start;
	for Dbuging*/
	border: 1px solid #000;
}

form {
/* display: flex; */
  display:block;/*This is extremely important for  cell phone*/
	flex-direction: column;
  flex-wrap: wrap;
	align-items: flex-start;
	align-content: flex-start;
  width: 100%;
	margin: 0, auto;
	 margin-top:10px;
	   padding: 5px, 0, 30px, 30px;
		 padding-left:45px;
		 padding-bottom:30px;
		 font-family:sans-serif;
     font-family: inherit;
     -moz-box-shadow: 0px 10px 14px -7px #fff6af;
     -webkit-box-shadow: 0px 10px 14px -7px #fff6af;
     box-shadow: 0px 10px 14px -7px #fff6af;
     border-collapse:separate;
     background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
     background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
     background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
     background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
     background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
     background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
     filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
     background-color: #ffec64;
     -moz-border-radius: 4px;
     -webkit-border-radius: 4px;
     border-radius: 4px;
     border: 1px solid #ffaa22;

     cursor: pointer;
     color: #333333;
     font-family: arial;
		 font-family: inherit;
     font-size: 18px;
     font-weight: bold;
     padding: 20px 12px;
     text-align: left;
     text-shadow: 0px 1px 0px #ffee66
}


input[type=checkbox] {
					/* display: flex; */
          display:block;
					flex-direction: row
					align-content:stretch ;
				   cursor: pointer;
					 width: 0 auto;  }

	    input[type=checkbox]:before {
        display: block;
	         content: "";
					 width: 100px;
				  padding: 15px 15px;
				  margin: 8px 0;

					height: 20px;
					border: 1px solid #ccc;
					 border-radius: 4px;
					 box-sizing: border-box;
	        background-color:#e9e9e9;
	}
	input[type=checkbox]:checked:before {
	         content: "1";
	         display: block;
						width: 20px;
	         height: 20px;
	         background-color:#eee214;
	}
	    input[type=checkbox]:checked:after {
	         content: "";
	         display: block;
	         width: 10px;
	         height: 10px;
	         /*border: solid white;*/
	        	 border: 1px solid #ccc;
						border-radius: 4px;
						box-sizing: border-box;

}


form-control submit {
    margin: 0px, auto;
    padding: 0px, 0px, 0px,3px;
    width: 100%;
    -moz-box-shadow: 0px 10px 14px -7px #fff6af;
    -webkit-box-shadow: 0px 10px 14px -7px #fff6af;
    box-shadow: 0px 10px 14px -7px #fff6af;
    border-collapse:separate;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    background-color: #ffec64;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffaa22;
    display: block;
    cursor: pointer;
    color: #333333;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
    padding: 6px 12px;
    text-align: left;
    text-shadow: 0px 1px 0px #ffee66;
}

form-control submit:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
     cursor: pointer;
}

form-control submit:active {
    position: relative;
    cursor: pointer;
    top: 1px;
}


 .safesend {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4px;
    margin: 0 auto
}

.phoneNunber {
  display: block;
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    /*text-shadow: 1px 1px 1px rgba(0,0.,0,0.3);*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}
#Calendar{
  display: block;
}


 datalist:focus {
    width: 100%;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}

.QuoteButton {
    width: 100%;
    -moz-box-shadow: 0px 10px 14px -7px #fff6af;
    -webkit-box-shadow: 0px 10px 14px -7px #fff6af;
    box-shadow: 0px 10px 14px -7px #fff6af;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffec64), color-stop(1, #ffab23));
    background: -moz-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -webkit-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -o-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: -ms-linear-gradient(top, #ffec64 5%, #ffab23 100%);
    background: linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffec64', endColorstr='#ffab23', GradientType=0);
    padding-top: 15px;
    background-color: #ffec64;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid #ffaa22;
    display: inline-block;
    cursor: pointer;
    color: #333333;
    font-family: arial;
    font-size: 16px;
    font-weight: bold;
    padding: 6px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffee66;
}

.QuoteButton:hover {
    cursor: pointer;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffab23), color-stop(1, #ffec64));
    background: -moz-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -webkit-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -o-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: -ms-linear-gradient(top, #ffab23 5%, #ffec64 100%);
    background: linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffab23', endColorstr='#ffec64', GradientType=0);
    background-color: #ffab23;
    padding-top: 15px;
}

.QuoteButton:active {
    position: relative;
    top: 1px;
    color: inherit;
}



 input[type="text"],
 input[type="email"],
input[type="tel"],
input[datalist="list" ],
 input [type="radio"],
 input [type="checkbox"],
element[type="select"],
 textarea {
    width: 100%;
		display: block;
    margin-bottom: 10px;
    background: rgba(0, 0, 0, 0.3);
    border: none;
    outline: none;
    padding: 10px;
    font-size: 13px;
    color: #fff;
    text-decoration: none;
    list-style-type: none;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2), 0 1px 1px rgba(255, 255, 255, 0.2);
    -webkit-transition: box-shadow .5s ease;
    -moz-transition: box-shadow .5s ease;
    -o-transition: box-shadow .5s ease;
    -ms-transition: box-shadow .5s ease;
    transition: box-shadow .5s ease;
}



.container{
		display: flex;
		flex-direction: row
    	flex-wrap:  wrap ;
    align-items: flex-start,stretch;
		justify-content:space-between,flex-start;

		width: 100%;
		align-content: baseline ;

		 font-family: 'Open Sans Condensed', ;
}

.booking-area .booking-wrap {
		display:flex;
    flex-wrap: wrap ;
  align-items: flex-start;
		justify-content:space-between,flex-start;
		padding: 39px 50px 20px 50px;

    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 8px 79px 0px rgba(0, 0, 0, 0.08);
    flex-wrap: wrap
		font-family: 'Open Sans Condensed', ;

}
table td {
  width: 100%;
  border-collapse: collapse;
  padding: 30px;
}

		.booking-area .booking-wrap {
			display: flex;
      flex-wrap:  wrap ;
    align-items: flex-start;
			justify-content:space-between;
		    padding: 39px 80px 20px 80px;
		    background: #fff;
		    border-radius: 10px;
		    box-shadow: 0px 8px 79px 0px rgba(0, 0, 0, 0.08);
		    flex-wrap: wrap; }

		    @media only screen and (min-width: 992px) and (max-width: 1200px) {
		      .booking-area .booking-wrap {

		        padding: 34px 46px 20px 42px; } }
		    @media only screen and (min-width: 576px) and (max-width: 767px) {
		      .booking-area .booking-wrap {
		      	flex-wrap: wrap;
		        padding: 49px 15px 20px 20px; } }
		    @media (max-width: 767px) {
		      .booking-area .booking-wrap {
		        padding: 40px 26px 3px 54px; } }
		    @media only screen and (min-width: 768px) and (max-width: 991px) {
		      .booking-area .booking-wrap {
		        flex-wrap: wrap; } }
		    @media only screen and (min-width: 576px) and (max-width: 767px) {
		      .booking-area .booking-wrap {
		        flex-wrap: wrap; } }
		    @media (max-width: 767px) {
		      .booking-area .booking-wrap {
		        flex-wrap: wrap; } }
		    @media only screen and (min-width: 768px) and (max-width: 991px) {
		      .booking-area .booking-wrap .single-select-box {
		      	flex-wrap: wrap;
		        width: 100%; } }
		    @media only screen and (min-width: 576px) and (max-width: 767px) {
		      .booking-area .booking-wrap .single-select-box {
		      	flex-wrap: wrap;
		        width: 100%; } }
		    @media (max-width: 767px) {
		      .booking-area .booking-wrap .single-select-box {
		        width: 100%;
						flex-wrap: wrap; } }
		    @media only screen and (min-width: 576px) and (max-width: 767px) {
		      .booking-area .booking-wrap .single-select-box {
		        width: 100%;
					flex-wrap: wrap;	} }
		    @media only screen and (min-width: 992px) and (max-width: 1200px) {
		      .booking-area .booking-wrap .single-select-box {
		        width: 100%; } }
		    .booking-area .booking-wrap .boking-tittle span {
		      color: #262626;
		      font-size: 16px;
		      margin: 20px;
		      font-weight: 600;
		      display:block; }
		    .booking-area .booking-wrap .nice-select.open .list {
		      width: 100%; }
		    .booking-area .booking-wrap .nice-select .list {
		      width: 100%; }
		    @media (max-width: 767px) {
		      .booking-area .booking-wrap .nice-select {
		        width: 80%; } }
		    @media only screen and (min-width: 576px) and (max-width: 767px) {
		      .booking-area .booking-wrap .nice-select {
		        width: 80%; } }
		    @media only screen and (min-width: 992px) and (max-width: 1200px) {
		      .booking-area .booking-wrap .nice-select {
		        width: 100%; } }
		    @media only screen and (min-width: 768px) and (max-width: 991px) {
		      .booking-area .booking-wrap .nice-select {
            width: 100%;
             } }

		.select-btn {
		  padding: 27px 49px; }
		  @media (max-width: 767px) {
		    .select-btn {
		      width: 80%; } }
		  @media only screen and (min-width: 576px) and (max-width: 767px) {
		    .select-btn {
		      width: 80%; } }
		  @media only screen and (min-width: 768px) and (max-width: 991px) {
		    .select-btn {
		      width: 80%; } }

		@media (max-width: 767px) {
		  .single-select-box.pt-45 {
		    padding-top: 0; } }

		@media only screen and (min-width: 576px) and (max-width: 767px) {
		  .single-select-box.pt-45 {
		    padding-top: 45px; } }

}

input[data-booking-type="wallcleaning"]{
  display: inline-block;
}

.footer {
   display: flex;
   text-align: start;
   width: 100%;
   padding-top: 45px;
   background: #586E75;
   height: 50px;
 	bottom: 0px;
 	color: #FFF;
 	font: normal 0.8rem 'Droid Sans';
  clear: both;
}
footer p {
	padding: 10px;
	padding-right: 20px;
	float: right;
}
.f1,
.f2,
.f3 {

 -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-block;
  text-align: left;
  font-size: 12px;
  padding: 0 8%;
  min-width: 300px;
  width: 33%;

}
